.NavBar{
  position: fixed;
  top:0px;
  width: 100%;
  font-family: 'Roboto';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover:not(.logout) {
  background-color: #000;
}


.settings{
    float: right;
    width: 145px;
    padding: -10rem;
    background-color: #7986CB;
    font-family: 'Roboto';
}

.logout{
  float: right;
  width:145px;
  background-color: #3F51B5;
  font-family: 'Roboto';
}
